nav-menu {
  display: grid;
  height: var(--menu-height);
}

nav-menu img {
  height: calc(100% - 2 * var(--padding-small));
  padding: var(--padding-small);
}

nav {
  height: 100%;
  font-family: var(--font-family--header);
  text-transform: uppercase;
  display: inline-block;
}

nav a {
  color: var(--color--primary-dark-foreground);
  display: inline-block;
  padding: var(--padding-default);
  text-decoration: none;
}

.cart {
  display: inline-block;
  height: 100%;
}

.cart-icon {
  display: block;
  height: calc(var(--menu-height) - 2 * var(--padding-small));
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-pill {
  position: absolute;
  bottom: -8px;
  left: -8px;
  background-color: var(--color--primary-ok);
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  min-width: 8px;
  text-align: center;
  font-family: var(--font-family--normal);
}

@media (max-width: 800px) {
  :root {
    --menu--condensed-display-mode: none;
  }

  .menu-expanded {
    display: none;
  }

  nav-menu {
    grid-template-columns: 1fr auto;
    justify-content: space-between;
  }

  nav-menu {
    display: flex;
    flex-direction: row;
    height: var(--menu-height);
  }

  .menu-condensed {
    display: var(--menu--condensed-display-mode);
    position: absolute;
    top: var(--menu-height);
    left: 0;
    background-color: var(--color--primary-dark-background);
    color: var(--color--primary-dark-foreground);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  nav a {
    display: block;
  }

  .menu-icon {
    display: block;
  }
}

@media (min-width: 801px) {
  nav-menu {
    grid-template-columns: 1fr auto;
    justify-content: space-between;
  }

  .menu-expanded {
    display: block;
  }

  /* hide the small screen menu icon and menu  */
  .menu-icon {
    display: none;
  }

  .menu-condensed {
    display: none;
  }
}