image-part {
  display: block;
  height: 100%;
}

.legend {
  max-height: calc(100% - 4 * var(--padding-default));
  width: auto;
  padding: var(--padding-default);
  display: flex;
  margin: auto;
}
