legends-page ul {
  list-style-type: none;
  padding: 0px;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

@media (min-width: 701px) {
  .container {
    height: calc(100vh - var(--menu-height));
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(310px, 30%) 70%;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
      "header header"
      "left upper-right"
      "left lower-right";
  }

  .list-heading {
    grid-area: header;
    display: flex;
    margin: auto;
    margin: calc(4 * var(--padding-default));
  }

  legends-page ul {
    font-size: 1.5rem;
  }

  .legend-list {
    grid-area: left;
    margin-top: 3rem;
  }

  .legend {
    margin: calc(3 * var(--padding-default));
  }

  a {
    color: var(--color--primary-bright-foreground);
    text-decoration: none;
  }

  .images {
    grid-area: upper-right;
  }

  .stats {
    grid-area: lower-right;
  }
}

@media (max-width: 700px) {
  .container {
    height: calc(100vh - var(--menu-height));
    overflow: hidden;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: min-content auto minmax(5rem, auto);
    grid-template-areas:
      "heading heading"
      "list image"
      "stats stats";
  }

  legends-page h1 {
    font-size: 1.2rem;
    margin: var(--padding-default) 0 0 var(--padding-default);
  }

  .list-heading {
    grid-area: heading;
    display: flex;
  }

  .legend-list {
    grid-area: list;
  }

  a {
    display: inline-block;
    color: var(--color--primary-bright-foreground);
    text-decoration: none;
  }

  .name {
    font-size: 1rem;
    margin: var(--padding-default) 0 0 var(--padding-default);
  }

  .images {
    grid-area: image;
    max-height: 18rem;
  }

  .stats {
    grid-area: stats;
  }
}
