.home-page {
  height: calc(100vh - var(--menu-height));
  width: 100vw;
  display: grid;
  column-gap: var(--padding-default);
  overflow: hidden;
}

.home-page img {
  display: block;
  width: auto;
  height: auto;
}

.home-page .header {
  font-size: 2rem;
  line-height: 2rem;
  padding: var(--padding-default);
}

@media (max-width: 400px) {
  .home-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas:
      "header"
      "image"
      "text";
  }

  .home-page img {
    max-height: 15rem;
  }
}

@media (max-width: 800px) {
  .home-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
      "header"
      "image"
      "text";
  }

  .home-page img {
    max-height: 15rem;
  }
}

@media (min-width: 801px) {
  .home-page {
    grid-template-columns: 1fr 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . ."
      ". header header ."
      ". text image ."
      ". . . .";
  }

  .home-page .header {
    font-size: 3rem;
    line-height: 3rem;
  }

  .home-page img {
    max-height: 20rem;
  }
}

.home-page .header {
  grid-area: header;
  font-family: var(--font-family--header);
  display: grid;
  place-items: center;
  text-align: center;
}

.home-page-article {
  grid-area: text;
  font-family: var(--font-family--normal);
  font-size: large;
  padding: 0.5rem;
}

.home-page .featured-droid {
  grid-area: image;
  place-self: center;
}
