.home-page {
  height: calc(100vh - var(--menu-height));
  padding: 5rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header image"
      "text text text image";
      column-gap: var(--padding-default);
}


.home-page .header {
  grid-area: header;
  font-family: var(--font-family--header);
  font-size: 5rem;
  line-height: 5rem;
  margin: 10rem 0rem 3rem 0rem;
  display: flex;
  text-align: center;
}

.home-page-article {
  grid-area: text;
  font-family: var(--font-family--normal);
  font-size: large;
  vertical-align: text-bottom;
}

.home-page img {
  max-width: 200px;
  display: block;
  width: auto;
  height: auto;
}

.home-page .featured-droid {
  grid-area: image;
  place-self: center;
}
